################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SistemaFuncaoSistema/.vs/FI.WebAtividadeEntrevista
/SistemaFuncaoSistema/FI.WebAtividadeEntrevista
